---
// src/pages/contacto.astro
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro"; // Importamos el formulario
import { getPageInfo } from "../lib/wp";

const { title, content } = await getPageInfo("contacto");
const description =
  "Ponte en contacto con Triz Jordan a través de este formulario o encuéntrame en redes sociales. ¡Hablemos de tu próximo proyecto!";
---

<Layout title={title} description={description}>
  <article
    class="prose max-w-none prose-lg md:prose-xl mx-auto px-4 py-10 md:py-10"
  >
    <header class="text-center mb-12" data-animate="fade">
      <h2
        class="text-5xl md:text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-secondary to-accent"
      >
        {title}
      </h2>
      <p
        class="mt-4 text-xl text-zinc-600 max-w-3xl mx-auto text-center"
        set:html={content}
      />
    </header>

    <main data-animate="fade-up" data-animate-delay="200">
      <ContactForm />
    </main>

    <footer
      class="text-center mt-16"
      data-animate="fade-up"
      data-animate-delay="400"
    >
      <div class="space-y-4"></div>
    </footer>
  </article>
</Layout>
