---
// src/layouts/Layout.astro
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Beatriz Estebanez Jordan - {title}</title>
  </head>
  <body class=" bg-gray-50 text-zinc-800 font-sans">
    <header class="fixed top-0 left-0 w-full z-10">
      <nav
        class="max-w-5xl mx-auto p-4 flex justify-center gap-6 bg-grey-50 backdrop-blur-md rounded-b-lg"
      >
        <a href="/" class="hover:text-secondary transition-colors">Inicio</a>
        <a href="/obras" class="hover:text-secondary transition-colors">Obras</a>
        <a href="/sobre-mi" class="hover:text-secondary transition-colors"
          >Sobre Mí</a
        >
        <a href="/contacto" class="hover:text-secondary transition-colors"
          >Contacto</a
        >
      </nav>
    </header>

    <main class="pt-24"><slot /></main>

    <footer class="text-center p-8 text-zinc-500 bg-grey-50">
      <p>&copy; 2025 Beatriz Estebanez Jordan</p>
    </footer>
  </body>
</html>
