---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:wght@400;700&family=Neuton:wght@400;700&family=Nunito:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <title>Triz Jordan - {title}</title>
  </head>
  <body class="bg-gray-50 text-zinc-800 font-sans">
    <header class="sticky top-2 w-full z-10 flex justify-center">
      <nav
        class="max-w-5xl p-4 flex justify-center gap-6 bg-grey-50 backdrop-blur-md rounded-full"
      >
        <a href="/" class="hover:text-secondary transition-colors">Inicio</a>
        <a href="/obras" class="hover:text-secondary transition-colors">Obras</a
        >
        <a href="/sobre-mi" class="hover:text-secondary transition-colors"
          >Sobre Mí</a
        >
        <a href="/contacto" class="hover:text-secondary transition-colors"
          >Contacto</a
        >
      </nav>
    </header>

    <main class="pt-2"><slot /></main>

    <footer class="text-center p-8 text-zinc-500 bg-grey-50">
      <p>&copy; 2025 Triz Jordan</p>
    </footer>
  </body>
</html>
